<h1>Client</h1>

<div id="container">
  <div id="user_nav">
			<%= link_to "Manage Servers", resolvers_path %>
	</div>
</div>

<div style="margin: 20px">
	<ul id="pick">
	</ul>
</div>

<iframe id="player" autofocus="true" ></iframe>

<%= javascript_tag(render :template => "layouts/client", :formats => [:js],
	:locals => {:test => "hello"}) %>