<script type="text/javascript" charset="utf-8">
	var isMobile = Modernizr.mq("(min-device-width: 320px) and (max-device-width: 728px)");
	//(navigator.userAgent.toLowerCase().indexOf("mobile") != -1 && navigator.userAgent.toLowerCase().indexOf("ipad") == -1);
	if (isMobile) {
		window.location.replace("http://192.168.1.110:3000/player");
	}
</script>
<div class="row" style="height:800px; background-image: url('img/fs_Background.gif'); background-repeat: no-repeat; padding-top: 130px; background-size:100% 100%; ">
	<div class="span4 offset3">
		<div id="div_iframe">
			<iframe id="iframe" src="http://192.168.1.110:3000/player" seamless ></iframe>
		</div>
	</div>
	<div class="span3 offset1">
		<p style="text-align: center; font-family: Euphemia;">
			<span class="line1"> Get out of the Cloud.</span>  <br></br>

			<span class="line2">Use Fullsink to share
				music in real time
				with those around you.</span> <br></br>

			<span class="line3">Get started now!</span>  <br></br>

			<img src="img/fs_DownloadButton.gif"  width="150" height="75" align="center">
			<br></br>

			<span class="line4"> Play a song using the app.

				Listen in with the Fullsink Audio live player on your browser.</span>  <br></br>
		</p>
	</div>
</div>
<div class="row" style="padding-top: 100px; height:800px;  background-color: #ccccff">

	<div class="span3 offset1" style="height:500px; border: thin  solid #000; border-radius: 20px; background-color: #21B6ED"></div>
	<div class="span3" style="height:500px; border: thin solid #000; border-radius: 20px; background-color: #ddf0f8"></div>
	<div class="span3" style="height:500px; border: thin solid #000; border-radius: 20px; background-color: #3e6790 "></div>
	<div class="span3" style="height:500px; border: thin solid #000; border-radius: 20px; background-color: #7cc4e7"></div>
	<div class="span2"></div>
</div>