<h1>Client</h1>


<div style="margin: 20px">
	<ul id="pick">
	</ul>
</div>

<iframe id="player" autofocus="true" ></iframe>

<% if Rails.env.production? %>
<% 	url =  "http://www.fullsink.com" %>
<% else %>
<% url = "http://192.168.1.104:3000" %>
<% end %>
<%= javascript_tag(render :template => "layouts/client", :formats => [:js],
	:locals => {:url => url}) %>