
<!-- Display the servers -->

<div id="table-wrapper">
  <div id="table-scroll">
    <table>
        <thead>
            <tr> Select a Station</tr>
        </thead>
        <tbody id="pick">
        </tbody>
    </table>
  </div>
</div>

<div style="margin-bottom:20px">
<input id="userhandle" type="text" maxlength="18" size="18"></input>
<button id="refresh">Refresh</input>
</div>

<div style="margin-bottom:20px">

<button id="closesockets">Close Sockets</input>
</div>

<div>
	<div id="songdisp" style="margin:20px">
	</div>
	
	<button id="copybut" style="margin:10px">Download</button>
</div>

<div style="margin:30px">
	<audio id="media" src="" preload="auto" controls >
	<p>Your browser does not support the audio element.</p>
	</audio>
</div>

<!--
<iframe id="player" ></iframe>
-->

<% if Rails.env.production? %>
<% 	url =  "http://www.fullsink.com" %>
<% else %>
<% url = "http://192.168.1.104:3000" %>
<% end %>
<%= javascript_tag(render :template => "layouts/client", :formats => [:js],
	:locals => {:url => url}) %>