
<% ind_url = geturl %>

<script type="text/javascript" charset="utf-8">
	var isMobile = Modernizr.mq("(min-device-width: 320px) and (max-device-width: 728px)");
	//(navigator.userAgent.toLowerCase().indexOf("mobile") != -1 && navigator.userAgent.toLowerCase().indexOf("ipad") == -1);
	if (isMobile) {
		window.location.replace('<%= geturl %>' + "/player");
	}
</script>


<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" class="brand"><img id="logo_image" class="logo" src="img/fs_logo_comb.png"> </a>
			<div class="nav">
				<div class="span3 offset5">
					<ul class="nav pull-right" >

						<li>
							<%= link_to "contact us", about_path %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="height:600px;  padding-top: 90px; background-color: #fff">
	<div class="span3 offset3">
		<div id="div_iframe">
			<iframe id="iframe" src="<%= geturl %>/player" seamless ></iframe>
		</div>
	</div>
	<div class="span4 offset1"  style="margin-top: 60px;">
		<p style="font-family: Euphemia;">
			<span class="line1"> Get in musical sync <br> with others nearby.</span>
			<br>
			</br>

			<span class="line2">Share what you're listening to <br> 
				with those around you in real time.</span>
			<br>
			</br>

			<span class="line3"> > Play a song using the Fullsink app <br> on your mobile device. </span>
			<br>
			</br>

			<span class="line4"> < Connect this browser to the same wifi <br> network and listen in on the live player. </span>
			<br>
			</br>
			<span class="line5"> Get started now. </span>
			<img src="img/Google-Play.jpg"  width="110" height="55">
			<br>
			</br>
			<span class="line6"> No sign-up. No configuration -- instant, seamless. </span>
			<br>
			</br>
		</p>
	</div>

</div>
<div class="row" style="background-color: #77CFEC;">


	<div class="span2"></div>
	<img class="span2" src="img/PlayFull-Trans.png" style="display: block; height: 217px; width: 177px; padding: 70px; " >
	<img class="span2" src="img/ConnectFull-Trans.png" style="display: block; height: 258px; width: 210px; padding: 60px 30px 30px" >
	<img class="span2" src="img/ShareFull-Trans.png" style="display: block; height: 215px; width: 235px;padding: 70px 30px 50px" >
	<div class="span3"></div>
</div>