<h1>Client</h1>


<div style="margin: 20px">
	<ul id="pick">
	</ul>
</div>

<iframe id="player" autofocus="true" ></iframe>

<%= javascript_tag(render :template => "layouts/client", :formats => [:js],
	:locals => {:test => "hello"}) %>