
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" class="brand"><img id="logo_image" class="logo" src="img/fs_logo_comb.png"> </a>
			<div class="nav">
				<div class="span4 offset1">
				<ul class="nav">
					
					<li>
						<%= link_to "Home", "/" %>
					</li>
					<li>
						<%= link_to "About Us", about_path %>
					</li>
					</div>
<!--					<li>
						<%= link_to "Share", share_path %>
					</li>
					<li>
						<%= link_to "Help", help_path %>
					</li>-->
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row" style="height:800px;  padding-top: 90px;">
	<div class="span3" style="margin-left: 80px">
		<p style="text-align: left; font-family: Euphemia;">
		<h2>Contact Us </h2> <br></br>
			
			<a class="link" href="mailto:info@fullsink.com">info@fullsink.com</a> 
		</p>
	</div>
</div>
