// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userimage {
	height: 50px;
	width: 50px;
}

input[type=radio] {
	height:15px;
	width:15px
}


.songtitle {
	color:#666;
	font-size:80%;
}

.albumartist {
	color:#666;
	font-size:75%;
}

.butactive {
	color:#21B6ED;
}

#logo_image {
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 251px;
	height: 37px;
	display: inline;
}

