// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userimage {
	height: 50px;
	width: 50px;
}

input[type=radio] {
	height:15px;
	width:15px
}


.songtitle {
	color:#666;
	font-size:80%;
}

.albumartist {
	color:#666;
	font-size:75%;
}

.butactive {
	color:#21B6ED;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

#table-wrapper table {
  width:300px;
    
}

#table-wrapper table * {
  background:yellow;
  color:black;
}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}


#player {
	width:400px;
	height:200px;
}